* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

body h2 {
  font-weight: bolder;
  margin-left: 25px;
}

.loader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: #ffffffe6;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: loader 5s forwards;
          animation: loader 5s forwards;
}

.loader .lds-heart {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 40px 40px;
          transform-origin: 40px 40px;
}

.loader .lds-heart div {
  top: 32px;
  left: 32px;
  position: absolute;
  width: 32px;
  height: 32px;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(-30%, #ff79da), color-stop(80%, #9356dc));
  background: linear-gradient(to bottom right, #ff79da -30%, #9356dc 80%);
  -webkit-animation: lds-heart 1s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
          animation: lds-heart 1s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

.loader .lds-heart div:after,
.loader .lds-heart div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  background: -webkit-gradient(linear, left top, right bottom, from(#ff79da), color-stop(120%, #9356dc));
  background: linear-gradient(to bottom right, #ff79da 0%, #9356dc 120%);
}

.loader .lds-heart div:before {
  left: -24px;
  border-radius: 50% 0 0 50%;
}

.loader .lds-heart div:after {
  top: -24px;
  border-radius: 50% 50% 0 0;
}

@-webkit-keyframes lds-heart {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  5% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  39% {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  60% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@keyframes lds-heart {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  5% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  39% {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  60% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@-webkit-keyframes loader {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0.8;
  }
  40% {
    opacity: 0.6;
  }
  60% {
    opacity: 0.4;
  }
  80% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
    z-index: 0;
  }
}

@keyframes loader {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0.8;
  }
  40% {
    opacity: 0.6;
  }
  60% {
    opacity: 0.4;
  }
  80% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
    z-index: 0;
  }
}

.home-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-direction: row;
      flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 3rem;
  gap: 20%;
  margin: 10px 0;
}

.home-btn {
  margin-left: 10px;
  float: left;
}

.home-btn i {
  font-size: 1.3rem;
  color: #000;
}

.main-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-home .main-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 20rem;
  background: #f2f2f2;
}

.main-home .main-top p {
  width: 75%;
  margin-bottom: 35px;
  text-align: center;
}

.location {
  background: #ddd;
  width: 100%;
  height: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.location i {
  margin-right: 1rem;
}

.main-btn {
  color: #fff;
  background: -webkit-gradient(linear, left top, right bottom, from(#ff79da), color-stop(120%, #9356dc));
  background: linear-gradient(to bottom right, #ff79da 0%, #9356dc 120%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 30px;
  width: 50%;
  height: 3rem;
  cursor: pointer;
  width: 55%;
  -webkit-filter: drop-shadow(0px 5px 5px #aaa);
          filter: drop-shadow(0px 5px 5px #aaa);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.main-btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  -webkit-filter: drop-shadow(0px 5px 5px #aaa);
          filter: drop-shadow(0px 5px 5px #aaa);
}

.how-it-works {
  width: 100%;
  height: 25rem;
  gap: 1.5rem;
  margin: 10px 0;
}

.how-it-works ol {
  list-style: none;
  counter-reset: my-awesome-counter;
  width: 100%;
  padding: 0;
  margin-top: 50px;
}

.how-it-works ol li {
  counter-increment: my-awesome-counter;
  width: 95%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 30px 20px;
  font-weight: bold;
}

.how-it-works ol li :hover {
  background-color: #9256dc27;
}

.how-it-works ol li :hover i {
  color: #9356dc;
}

.how-it-works li::before {
  content: counter(my-awesome-counter);
  background: #9356dc;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  line-height: 2rem;
  color: white;
  text-align: center;
  float: left;
  position: relative;
  left: 10px;
}

.how-it-works .choose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  -ms-flex-direction: row;
      flex-direction: row;
  margin: 0;
  height: 4rem;
  width: 80%;
  border-radius: 20px;
  -webkit-box-shadow: 0px 6px 10px 0px #ddd;
          box-shadow: 0px 6px 10px 0px #ddd;
  background: #f2f2f2;
  cursor: pointer;
}

.how-it-works .choose i {
  margin: 10px 30px 10px 20px;
  color: #888888;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  width: 100%;
  background: #f2f2f2;
  margin-top: 2rem;
  padding-bottom: 4rem;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
}

.cards .card1 {
  height: 17rem;
  width: 90%;
  background-color: #fff;
  border-radius: 20px;
  -webkit-filter: drop-shadow(0px 5px 5px #aaa);
          filter: drop-shadow(0px 5px 5px #aaa);
  cursor: pointer;
  margin-left: 20px;
  position: relative;
}

.cards .card1 .new {
  color: #278870;
  background-color: #99e2d0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  height: 2rem;
  width: 5rem;
  right: 12px;
  top: 1rem;
  border-radius: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.cards .card1 a {
  color: #000;
  font-weight: bold;
  margin-left: 10px;
  text-decoration: none;
}

.cards .card1 .card-heart {
  float: right;
  margin-right: 10px;
  position: relative;
  top: -47px;
  right: 20px;
  font-size: 2rem;
  -webkit-transition: all 0.3s, -webkit-transform 0.3s cubic-bezier(0, 0, 0.88, 2.31);
  transition: all 0.3s, -webkit-transform 0.3s cubic-bezier(0, 0, 0.88, 2.31);
  transition: all 0.3s, transform 0.3s cubic-bezier(0, 0, 0.88, 2.31);
  transition: all 0.3s, transform 0.3s cubic-bezier(0, 0, 0.88, 2.31), -webkit-transform 0.3s cubic-bezier(0, 0, 0.88, 2.31);
}

.cards .card1 .card-heart:hover,
.cards .card1 .card-heart ::before {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: #9356dc;
  cursor: pointer;
  font-weight: 900;
}

.cards .card1 .dish {
  font-weight: bold;
}

.cards .card1 p {
  margin: 7px 10px;
}

.cards .card1 img {
  height: 75%;
  width: 100%;
  border-radius: 20px 20px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 15px;
  object-fit: cover;
  margin-bottom: 15px;
  position: relative;
  left: -10px;
  margin: 0;
}

.main-menu {
  width: 100%;
  height: 1940px;
}

.bkgd-pic {
  width: 100%;
  height: 275px;
}

.bkgd-pic img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-direction: row;
      flex-direction: row;
  gap: 5rem;
  margin-top: 10rem;
}

.menu-title h1 {
  font-family: "Shrikhand", cursive;
}

.menu {
  background: #f2f2f2;
  border-radius: 20px 20px 0 0;
  padding-bottom: 5rem;
  position: relative;
  top: -180px;
}

.menu .menu-heart {
  position: relative;
  top: 0;
  font-size: 2rem;
  -webkit-transition: all 0.3s, -webkit-transform 0.3s cubic-bezier(0, 0, 0.88, 2.31);
  transition: all 0.3s, -webkit-transform 0.3s cubic-bezier(0, 0, 0.88, 2.31);
  transition: all 0.3s, transform 0.3s cubic-bezier(0, 0, 0.88, 2.31);
  transition: all 0.3s, transform 0.3s cubic-bezier(0, 0, 0.88, 2.31), -webkit-transform 0.3s cubic-bezier(0, 0, 0.88, 2.31);
}

.menu .menu-heart:hover,
.menu .menu-heart ::before {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: #9356dc;
  cursor: pointer;
  font-weight: 900;
}

.menu p {
  margin: 10px 0 2px 16px;
}

.menu .main-btn {
  color: #fff;
  background: -webkit-gradient(linear, left top, right bottom, from(#ff79da), color-stop(120%, #9356dc));
  background: linear-gradient(to bottom right, #ff79da 0%, #9356dc 120%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 30px;
  width: 50%;
  height: 3rem;
  cursor: pointer;
  margin-left: 25%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menu .main-btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.menu .menu1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: 1rem;
  padding-bottom: 5rem;
}

.menu .menu1 .food-title {
  position: relative;
}

.menu .menu1 .food-title::before {
  content: "";
  position: absolute;
  left: 15px;
  top: 30px;
  border-bottom: 3px solid #99e2d0;
  width: 3rem;
}

.menu .menu1 .food {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  height: 6rem;
  width: 95%;
  gap: 5px;
  cursor: pointer;
  background-color: #fff;
  border-radius: 20px;
  -webkit-box-shadow: 3px 3px 8px 5px #ddd;
          box-shadow: 3px 3px 8px 5px #ddd;
  overflow: hidden;
  -webkit-animation: fadeIn 3s;
          animation: fadeIn 3s;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.menu .menu1 .food .dish-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 70%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.menu .menu1 .food p {
  margin: 0;
}

.menu .menu1 .food h4 {
  margin: 0;
}

.menu .menu1 .food .price {
  font-weight: bold;
  margin-bottom: 20px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-transition: -webkit-transform 330ms ease-in-out;
  transition: -webkit-transform 330ms ease-in-out;
  transition: transform 330ms ease-in-out;
  transition: transform 330ms ease-in-out, -webkit-transform 330ms ease-in-out;
}

.menu .menu1 .food .check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
  background: #99e2d0;
  width: 62px;
  height: inherit;
  border-radius: 0 20px 20px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2rem;
  color: #fff;
  position: absolute;
  right: -65px;
  -webkit-transition: -webkit-transform 330ms ease-in-out;
  transition: -webkit-transform 330ms ease-in-out;
  transition: transform 330ms ease-in-out;
  transition: transform 330ms ease-in-out, -webkit-transform 330ms ease-in-out;
}

.menu .menu1 .food .check i {
  -webkit-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
  -webkit-transform: rotate(0deg) 350ms;
          transform: rotate(0deg) 350ms;
}

.menu .menu1 .food:hover .check {
  -webkit-transform: translate(-64px);
          transform: translate(-64px);
}

.menu .menu1 .food:hover i {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.menu .menu1 .food:hover .price {
  -webkit-transform: translate(-48px);
          transform: translate(-48px);
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  color: #fff;
  background: #272727;
}

footer h2 {
  font-family: "Shrikhand", cursive;
}

footer li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}

footer li :before {
  font-size: 12px;
  margin-right: 5px;
}

@media screen and (min-width: 770px) {
  header {
    gap: 40%;
    margin: 10px 0;
  }
  .main-top {
    width: 75%;
  }
  .main-top p {
    width: 50%;
  }
  .main-btn {
    width: 30%;
  }
  .how-it-works {
    width: 100%;
    height: 15rem;
    gap: 1.5rem;
    margin: 10px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .how-it-works h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 25px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .how-it-works ol {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .cards {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .cards h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .cards .card1 {
    width: 40%;
  }
  .main-menu {
    height: 1175px;
  }
  .main-menu .menu1 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 97%;
    margin-right: 15px;
  }
  .main-menu .menu1 .food-title {
    width: 100%;
  }
  .main-menu .menu1 .food {
    width: 25%;
  }
}
/*# sourceMappingURL=styles.css.map */