$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;

@mixin alignment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin how-btn {
    height: 4rem;
    width: 80%;
    border-radius: 20px;
    box-shadow: 3px 3px 8px 5px #ddd;
    background: #f2f2f2;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  h1 {
      font-weight: bold
  }
}

header {
  @include alignment();
  flex-direction: row;
  height: 3rem;
  gap: 4rem;
}

.home-btn {
  margin-left: 1rem;
  float: left;
}

.location {
  background: #ddd;
  width: 100%;
  height: 2.5rem;
  @include alignment();
  i {
    margin-right: 1rem
  }
}

.pink-btn {
    color: #fff;
    background: linear-gradient(to bottom right, $secondary-color 0%, $primary-color 120%);
    @include alignment();
    border-radius: 30px;
    width: 50%;
    height: 3rem;
    cursor: pointer;
}

.main-home {
  @include alignment();
    .main-top {
        @include alignment();
        width: 100%;
        height: 20rem;
        background: #f2f2f2;
        
    }
  
}

.how-it-works {
    @include alignment();
    align-content: flex-start;
    width: 100%;
    height: 20rem;
    gap: 1.5rem;
    .choose {
        @include alignment();
        flex-direction: row;
        @include how-btn();
        i {
            margin-right: 2rem
        }
    }
  }

.cards {
  @include alignment();
  gap: 2rem;
  width: 100%;
  background: #f2f2f2;
  margin-top: 2rem;
  padding-bottom: 4rem;

    .card1 {
        height: 15rem;
        width: 85%;
        background-color: #fff;
        border-radius: 20px;
        box-shadow: 3px 3px 8px 5px #f2f2f2;
        

        img {
            height: 75%;
            width: 100%;
            border-radius: 20px 20px 0 0;
            object-fit: cover;
        }
    }
}

.menu-title {
    @include alignment();
    flex-direction: row;
    gap: 5rem;

    h1 {
        font-family: "Shrikhand", cursive; 
    }
}

.menu {
    background: #f2f2f2;
    border-radius: 20px 20px 0 0;
    padding-bottom: 5rem;
    align-items: center;
   .menu1 {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        padding-bottom: 5rem;
        
        .food {
            height: 6rem;
            width: 85%;
            gap: 5px;
            
            background-color: #fff;
            border-radius: 20px;
            box-shadow: 3px 3px 8px 5px #f2f2f2;

            h3 {
                margin: 10px 0 2px 16px;
            }

            p {
              margin: 10px 0 2px 16px;  
            }
        }
    } 
}




footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  color: #fff;
  background: #272727;
  h2 {
    font-family: "Shrikhand", cursive;
  }
  li {
    display: flex;
    flex-direction: column;
  }
}
